pytest
pytest-bdd
pytest-click
pytest-cov
pytest-html-reporter
pytest-json-report
pytest-otel
pytest-mock
pytest-sugar
pytest-agent
pytest-asyncio
allure-pytest
allure-pytest-bdd==2.11.1
allure-python-commons==2.11.1
sanic-testing

mypy
mypy-extensions
flake8
pycodestyle
pyflakes
pyparsing
autopep8
bandit
black[d]
coverage
