pytest==8.2.1
pytest-bdd
pytest-click
pytest-cov
pytest-html-reporter
pytest-json-report
pytest-otel
pytest-mock
pytest-sugar
pytest-agent
pytest-asyncio
sanic-testing
mypy
mypy-extensions
flake8
pycodestyle
pyflakes
pyparsing
autopep8
bandit
black[d]
coverage
